//Brand
$thermatru-color__thermatru-red:rgb(237,28,36);
$thermatru-color__thermatru-gray:rgb(102,102,102);

//Products
$thermatru-color__moderate-orange:rgb(236,122,8);		//Classic-Craft
$thermatru-color__cerulean-blue:rgb(0,82,147);			//Fiber-Classic & Smooth-Star
$thermatru-color__dark-red:rgb(152,50,34);				//Profiles & Traditions
$thermatru-color__dark-reddish-orange:rgb(220,80,52);	//Fire Doors
$thermatru-color__dark-brown:rgb(50,31,17);				//Pulse
$thermatru-color__sage:rgb(151,135,0);					//Patio Doors
$thermatru-color__light-brown:rgb(147,94,58);			//Door System Components
$thermatru-color__dark-aqua:rgb(0,81,87);				//Tru-Defense

$thermatru-color__classic-craft: $thermatru-color__moderate-orange;
$thermatru-color__fiber-classic: $thermatru-color__cerulean-blue;
$thermatru-color__steel: $thermatru-color__dark-red;
$thermatru-color__fire-doors: $thermatru-color__dark-reddish-orange;
$thermatru-color__pulse: $thermatru-color__dark-brown;
$thermatru-color__patio: $thermatru-color__sage;
$thermatru-color__tru-defense: $thermatru-color__dark-aqua;

//Accents
$thermatru-color__light-yellow:rgb(252,212,80);
$thermatru-color__light-tan:rgb(210,194,149);
$thermatru-color__brown:rgb(96,53,29);
$thermatru-color__green:rgb(85,118,48);
$thermatru-color__light-aqua:rgb(0,122,135);
$thermatru-color__eightypercent-screen-black:rgb(88,89,91);
$thermatru-color__ninetypercent-screen-black:rgb(65,64,66);