$transition-timing--base: .2s !default;
$transition-function--base:ease-out !default;

//depends on bourbon:
@mixin transition--base($properties...){
    $properties-string: nth($properties,1);

    @if length($properties) > 1 {
        @for $i from 2 through length($properties){ 
            $properties-string: $properties-string + ', ' + nth($properties,$i);
        }

	    @include transition(all $transition-timing--base $transition-function--base);
	    @include transition-property($properties-string); //easier to override for multiple properties
    }
    @else {
	    @include transition($properties-string $transition-timing--base $transition-function--base);
  	}
}